.Header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items:center;
    justify-content: space-between;
    text-align: center;
    padding: 0 80px;
    background: #f6f6f6;
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}
.logo{
    width: 90px;
}
.menu{
    display: flex;
    text-decoration: none;
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
     text-transform: uppercase;

}
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #000;
  transition: 0.3s;
}

/* Mobile styles */
@media (max-width: 768px) {
  .Header {
    padding: 14px 25px;
  }

  .burger {
    display: flex;
  }

  .nav-item {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    display: none;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
  }

  .nav-item.show {
    display: block;
  }

  .menu {
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
  }
}
.Contactme{
  border: #c6a1f4;
  background-color: #c6a1f4;
  color: white;

}
